<!-- game.component.html -->
<div class="min-h-screen flex flex-col items-center justify-between p-12">
  <div class="flex justify-between items-center w-full px-4">
    <div class="flex items-center gap-6">
      <div
        (click)="pauseGame()"
        class="bg-pinkGradient w-20 h-20 flex justify-center items-center rounded-full"
      >
        <img src="../../../assets/images/icon-menu.svg" alt="" />
      </div>

      <h1 class="text-white text-6xl">{{ category }}</h1>
    </div>
    <div class="flex items-center gap-4">
      <div
        class="bg-white w-32 h-4 rounded-full"
        [ngStyle]="{
          width: (gameState.remainingAttempts / 6) * 100
        }"
      ></div>
      <img src="../../../assets/images/icon-heart.svg" alt="" />
    </div>
  </div>

  <div class="flex flex-wrap justify-center gap-2">
    @for (letter of gameState.maskedWord; track $index) {
    <div
      class="w-20 h-20 text-5xl bg-blue text-white rounded-3xl flex shadow-lg flex-wrap items-center justify-center cursor-pointer mx-1"
    >
      {{ letter === "" ? "" : letter }}
    </div>
    }
  </div>

  <div class="flex flex-col items-center">
    <div class="flex justify-center mb-2">
      @for (letter of 'QWERTYUIOP'.split(''); track $index) {
      <button
        (click)="guessLetter(letter)"
        class="w-12 h-12 text-4xl bg-white text-darkNavy rounded-lg flex items-center justify-center cursor-pointer m-2"
        [disabled]="gameState.guessedLetters.includes(letter)"
        [ngClass]="{
          'bg-blue bg-opacity-40 text-darkNavy':
            gameState.guessedLetters.includes(
              letter.toUpperCase() ||
                !gameState.guessedLetters.includes(letter.toUpperCase())
            )
        }"
      >
        {{ letter }}
      </button>
      }
    </div>
    <div class="flex justify-center mb-2">
      @for (letter of 'ASDFGHJKL'.split(''); track $index) {
      <button
        (click)="guessLetter(letter)"
        class="w-12 h-12 text-4xl bg-white text-darkNavy rounded-lg flex items-center justify-center cursor-pointer m-2"
        [disabled]="gameState.guessedLetters.includes(letter)"
        [ngClass]="{
          'bg-blue bg-opacity-40 text-darkNavy':
            gameState.guessedLetters.includes(
              letter.toUpperCase() ||
                !gameState.guessedLetters.includes(letter.toUpperCase())
            )
        }"
      >
        {{ letter }}
      </button>
      }
    </div>
    <div class="flex justify-center mb-2">
      @for (letter of 'ZXCVBNM'.split(''); track $index) {
      <button
        (click)="guessLetter(letter)"
        class="w-12 h-12 text-4xl bg-white text-darkNavy rounded-lg flex items-center justify-center cursor-pointer m-2"
        [disabled]="gameState.guessedLetters.includes(letter)"
        [ngClass]="{
          'bg-blue bg-opacity-40 text-darkNavy':
            gameState.guessedLetters.includes(
              letter.toUpperCase() ||
                !gameState.guessedLetters.includes(letter.toUpperCase())
            )
        }"
      >
        {{ letter }}
      </button>
      }
    </div>
  </div>
  @if(showModal){
  <app-modal
    [isWin]="gameState.isWin"
    [isLose]="gameState.isLose"
    [word]="gameState.word"
    (resume)="resume()"
    (newCategory)="newCategory()"
    (quit)="quit()"
  ></app-modal>
  }
</div>
